<table class="table table-striped">
<% @users.each do |user|%>
<tr>
  <td>
  <%= render :partial => "layouts/profile_img", :locals=> {user: user} %>
  <%= user.username%>
  </td>
</tr>
<% end %>
</table>