<div>
  <div  class="my-context-width">
  <p><img src=<%= @user.image %> class = "icon_image" width="30px" height="30px">
  <%= @user.username %></p>
  <% if current_user.id == @user.id%>
  <%= link_to "ユーザ編集",edit_user_registration_path(current_user.id), method: :get,class: "button"%>
  <%else%>
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <% end %>
  <div class="row">
    <% @contexts.each do |context| %>
      <div>
        <%= link_to image_tag(context.context_img.gallery.to_s,width:"150px",class:"m-1"), context_path(context.id),
                      preserveAspectRatio:"xMidYMid slice",focusable:"false" ,role:"img",class: "thumbnail"%>
      </div>
    <% end %>
  </div>
  </div>
</div>