<div class="container context">
  <div class="row">
    <div class="col-md-1 col-xs-0" ></div>
      <%= render :partial => "layouts/nav"%>
    <div class="context-card">
      <form action="/" method="get">
      <div class="input-group rounded" >
          <input type="search" name="search" id="form1" class="form-control" placeholder="検索" aria-label="検索" aria-describedby="search-addon" />
          <button type="submit" class="btn ">
          <i class="fas fa-search"></i>
          </button>
      </div>
      </form>
      <%= render :partial => "layouts/card", :locals=> {contexts: @contexts} %>
    </div>
    <div class="col-md-2 col-xs-1"></div>
  </div>
</div>