.card-body{
    .link{
        text-align: right;
    }
}
.card-text{
    float: left;
}
// .text-left{
//     width: 224px;
// }
// .text-right{
//     text-align: right;
//     width: 224px;
// }
.textContainer{
    display: flex;
}