.context{
  .index_button{
    width: 150px;
  }
  form{
    width:400px;
    margin: 50px auto;
  }
  .context-card{
    margin-left: 50px;
  }
  .context-nav{
    width: 400px;
    margin-left: 50px;
  }
}