@media screen and (min-width: 911px)  {
    .index_button{
        width: 140px;
    }
    .card-style{
        width: 450px;
    }
    .card-style-solo{
        width: 800px;
    }
    .context-card{
        width: 500px;
    }
    .edit-form{
        margin:0 300px;
        margin-bottom: 20px;
    }
    .users-table{
        width: 350px;
    }
    .list{
        margin-left: 20px;
    }
}