@media screen and (min-width: 321px) and (max-device-width: 920px) {
    .index_button{
        width: 120px;
    }
    .card-style{
        width: 250;
    }
    .list{
        margin-left: 50px;
    }
    .bd-placeholder-img > img{
      width: 100%;
    }
}
